{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="property-item">
        {% for image in imageGallery %}
            {{ image }}
        {% endfor %}
        <div class="main-info-item">
            <div class="head-item-info">
                <div class="code-item">
                    #{{ property.code }}
                </div>
                <h1>
                <span>
                {% if property.propertyParams.rooms %}
                    {{ property.propertyParams.rooms }} комн.
                    {% set delimeter %},{% endset %}
                {% endif %}
                    {{ property.category.categoryName}}
                </span>
                    <span>
                    {% if property.propertyParams.floor %}
                        {% if delimeter %}{{ delimeter }}{% else %}{% set delimeter %},{% endset %}{% endif %}
                        {{ property.propertyParams.floor }}{% if property.propertyParams.floorsTotal %}/{{ property.propertyParams.floorsTotal }}{% endif %} этаж
                    {% endif %}
                </span>
                    <span>
                    {% if property.propertyParams.area %}
                        {{ property.propertyParams.area }} кв.м.
                    {% endif %}
                </span>
                </h1>
            </div>
            <div class="price-item">
                {{ property.price.priceValue }} <span class="currency">руб.</span>
                {% if property.price.period %} <span class="price-period">в {{ property.price.period }}</span>{% endif %}
            </div>
        </div>
        <div class="address-item">
            {% if property.location.region %}
                {% set delimeter %},{% endset %}
                {{ property.location.region }}

            {% endif %}
            {% if property.location.localityName %}
                {% if delimeter %}{{ delimeter }}{% else %}{% set delimeter %},{% endset %}{% endif %}
                {{ property.location.localityName }}
            {% endif %}
            {% if property.location.address %}
                {% if delimeter %}{{ delimeter }}{% else %}{% set delimeter %},{% endset %}{% endif %}
                {{ property.location.address }}
            {% endif %}
        </div>
        <div class="createdAt-item">
            Добавлено {{ property.stringCreatedAt }}
        </div>
        <div class="action-item">
            <div class="image-item">
                {% if property.mainImage is null %}
                    <img src="{{ asset('images/realty-gallery/not-photo.jpg') }}" />
                {% endif %}
            </div>
            <div class="agent-item">
                <div class="agent-name-item">{{ property.agent.name }}</div>
                <div class="agent-phone-item">{{ property.agent.phone }}</div>
                <div class="agent-email-item">{{ property.agent.email }}</div>
            </div>
        </div>

        <div class="info-item">
            <div class="description-item">
                {% if property.description %}
                    {{ property.description }}
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}