<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
            <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet"/>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>

{#imageGallery#}
            <script type='text/javascript' src="{{ asset('unitegallery/js/unitegallery.min.js') }}"></script>
            <link rel='stylesheet' href="{{ asset('unitegallery/css/unite-gallery.css')}}" type='text/css' />
            <script type='text/javascript' src="{{ asset('unitegallery/themes/default/ug-theme-default.js')}}"></script>
            <link rel='stylesheet' href="{{ asset('unitegallery/themes/default/ug-theme-default.css')}}" type='text/css' />

        {% endblock %}
    </head>
    <body>
    <div class="top-line">
        <div class="container">
            <div class="top-menu">
                {{ knp_menu_render('top') }}
            </div>
            <div class="top-work-time">
                {{ company.workTime }}
            </div>
            <div class="top-address">
                {{ company.address }}
            </div>
        </div>
    </div>
    <header role="banner">
        <div class="container">
            <div class="left-header-block">
                <div class="logo">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="Правонед" /></a>
                </div>
                <div class="main-menu">
                    {{ knp_menu_render('main', {'template': 'main_knp_menu.html.twig'}) }}
                </div>
            </div>
            <div class="header-contact">
                <div class="header-phone">{{ company.phone }}</div>
            </div>
        </div>
    </header>
    <main role="main">
        {% block body %}
                {% block content %}{% endblock %}
        {% endblock %}
    </main>
    <footer>
        <div class="container">
            <div class="foot-more-menu">
                {{ knp_menu_render('top') }}
            </div>
            <div class="foot-company-info">
                <h3>Контакты</h3>
                <div class="foot-address">{{ company.address }}</div>
                <div class="foot-phone">{{ company.phone }}</div>
                <div class="foot-work-email">{{ company.email }}</div>
                <div class="foot-work-time">{{ company.workTime }}</div>
            </div>
            <div class="foot-other-platform">
                <h3>«Правовая недвижимость» на других площадках</h3>
                <div class="foot-platform-list">
                    <a href="#"><img src="{{ asset('images/icons/vk.png') }}" /></a>
                    <a href="#"><img src="{{ asset('images/icons/insta.png') }}" /></a>
                    <a href="#"><img src="{{ asset('images/icons/avito.png') }}" /></a>
                    <a href="#"><img src="{{ asset('images/icons/yandex.png') }}" /></a>
                </div>

                <span class="developer">
					<a href="https://vsproger.ru" title="Разработчик сайта" target="_blank">Разработчик сайта</a> - <img src="{{ asset('images/vs.png') }}" alt="VS">
				</span>

            </div>
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
